@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1a1b1b;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mobileOnly {
  display: none;
}

.absolute {
  transition: 0.3s ease-in-out;
}

.hoverMenuComputer p {
  padding: 8px;
}

.hoverMenuComputer p:hover {
  cursor: pointer;
  background: white;
  color: black;
  border-radius: 60px;
}

.revert {
  filter: invert(100%);
}
@media (max-width: 1000px) {
  .menuDisplayComputer {
    display: none;
  }

  .mobileOnly {
    display: flex;
    width: max-content;
  }
}
